@import 'markdown';

body {
  @apply antialiased;
  @apply subpixel-antialiased;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

body {margin: 0}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }


body {
  margin: 0;
  padding: 0;
  font-family: 'Garamond', 'Times New Roman', serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.618;
  color: #494c4e;
  overflow-x: hidden;
  text-align: left; }

.h100vh{height: 100vh}

.ss0{fill:#FFFFFF;}
.ss1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.ss2{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFFFFF;stroke-width:8;stroke-miterlimit:10;}
.pl4{padding-left: 4em}
.pl0{padding-left: 0 !important}

#home-header {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat,no-repeat;
  background: black;
}
#home-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
}

.gg 
{
  background: -webkit-linear-gradient(140deg, #9ff, #9ad5f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tr {text-align: right}
.spotlight {

  background: black,
          url("https://assets-global.website-files.com/5f3306add5c511a054f17da5/5f34c6b072cfa97f26431ac4_blur2.svg"),
              url("https://assets-global.website-files.com/5f3306add5c511a054f17da5/5f34c6afb1c1f26cf8023e7d_blur1.svg") no-repeat !important;
}
.L  {list-style:none;padding-left:0}
.v  {display:block}
.w  {flex-wrap:wrap}
.x  {width: 100%;margin:0 auto;box-sizing:border-box;padding-left:50px;padding-right:50px;max-width:1024px}
.y  {display:flex}
.bl {display:block}
.z  {justify-content:space-between}
.dn {display:none;}

.hv-rdn:hover.bl-std,
.hv-rdn:hover.bl-dark{border-left: 1px solid #9ad5f9}
.hv-rdn:hover .hv-svg{opacity: 1; transition: 0.4s ease all;}
.hv-rdn:hover path{fill:#9ad5f9 !important;}
.hv-rdn:hover .glo {
  margin-left: 48px;
  background: linear-gradient(90deg,#9ad5f9,#575df0 50%,#ab6bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.arh {
  height: 40px;
  margin-top: 35px;

  svg {
    width: 16px;
    height: 40px;
  }
}
.ari {
  height: 28px;
  margin-top: 25px;

  svg {
    width: 26px;
    height: 28px;
  }
}
.grty {
  background: linear-gradient(90deg, #9b6bff 0%, #cb4bff 50%, #ff2b92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grtx {
  background: linear-gradient(90deg, #9ad5f9, #575df0 50%, #ab6bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.glo {
  transition: 0.4s ease all;
  position:absolute;
  margin-left: 20px;
  margin-top: 2px;
}
.glp {
  margin-left: 24px;
  margin-top: 9px;

}

.markdown h1 {
  font-size: 40px;
}
.br-gr:before {
  height: 46px;
  border-radius: 46px;
  background: linear-gradient(90deg,#d1aad7,#c88bc4 25.17%,#7b8fdd 50%,#86bff2 73.09%,#bbdef2) border-box;
  padding: 1px;
}
@media (max-width: 767px) {
.dn-lg {display: none}
}
.s2e {width: 2em;height: 2em}
.s3e {width: 3em;height: 3em}

.rot270 {transform: rotate(270deg)}
.rot90  {transform: rotate(90deg)}

// positioning

.hovres img {transform: scale(0.9);}
.hovres:hover img {transform: scale(0.95); transition: 0.1s ease-out;}
.hovres picture, .hovres img {transition: 0.2s ease-in;
    width: 8.333%;
    height: auto;
  }

.pointer{cursor:pointer}
.pointerx>*{@extend .pointer;}


.animation:hover .a0 {transition: 0.1s 0.0s ease-out;transform: translateY(-20px)}
.animation:hover .a1 {transition: 0.1s 0.0s ease-out; transform: translateY(-20px)}
.animation:hover .a2 {transition: 0.1s 0.0s ease-out;transform: translateY(-20px)}
.l0{left: 0}
.t0{top: 0}
.b0{bottom: 0}
.r0{right: 0}

.fxd{position: fixed}
.abs{position: absolute}
.rel{position: relative}
.bsbx{box-sizing: border-box}

.cl-string{color: #ffa956}
.cl-keyword{color: #8095ff}
.cl-number{color: #ffd96a}
.cl-arg{color: #9f5}
.cl-func{color: #00d4ff}
// borders
textarea {
  
    outline: none;
    border-radius: 0;
}

.bl-std{border-left: 1px solid rgba(255,255,255,0.25)}
.bl-blue{border-left: 1px solid rgba(20,155,255,0.25)}
.bl-dark{border-left: 1px solid rgba(0,0,0,0.25)}
.br-{border: 1px solid #f0f1f2}
.br-right{border-right: 1px solid #f0f1f2}
.bt{border-top: 1px solid rgba(0,2,4,0.04)}
.bb {border-bottom: 1px solid rgba(200,244,255,0.1)}
.bb-dark {border-bottom: 1px solid rgba(0,2,4,0.04)}

.btn {
  padding: 10px 16px 9px;
  font-weight: 600;
  transition: 0.2s ease-in-out all;
  box-shadow: 1px 2px 5px 0 rgba(255,255,255,0.01);
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.1);

  svg { margin-left: 7px }
  path { stroke: #111; fill: none }
  &.w path { stroke: white }

  &.abs {position: absolute}
  &.nar {padding-right: 19px;}
  &.bl {display: block}

  &.mb0 {margin-bottom: 0}
  
  &:hover svg { transform: translateX(4px); transition: 0.2s ease all; }
  
  &.sm {font-size: 13px}
  
  &.cl-white {color: white}

  &.bg-white {
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: none;
    path {stroke: #fff; } }
  &.nobg {
    background: none;
    box-shadow: none; }
  &.black {
    background: none;
    box-shadow: none;
    path {stroke: #111; } }
  &.nopl {
    padding-left: 0 }
  &.alt {
    color: #5984FF;
    background: rgba(var(--color-2rgb), 0.1);
    box-shadow: none !important;
    border: none;
    path {stroke: #5984FF} }
  &.red {
    color: #ff003f;
    background: rgba(#ff003f, 0.06);
    box-shadow: none !important;
    border: none;
    path {stroke: #5984FF} }
  &.blue {
    color: white;
    border: none;
    background: #5984FF;
  }
  &.buy {
    border-radius: 4px;
    font-weight: 600;
  }
}

.credit-buy a {
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
  &:hover {
    font-size: 13px;
    transition: 0.2s ease all;
  }
}

.bti {
  svg {
    width: 16px;
    margin: 2px 0;
  }
}

hr {
  height: 1px;
  background: #e1e2e4;
  border: none;
}

.submit-button {
  margin: 4px 0;padding: 6px 19px 5px; font-weight: 600; letter-spacing: 0
}

.rnd2 {background: transparent;

    padding: 7px 12px;
    margin-right: 6px;
    margin-bottom: 0;
    svg {
      margin-right: 7px;
    }

}
.rnd {background: #f0f3f5;

    padding: 1px 3px 0;
    margin: 5px 6px 0 0;
    }

.UnstyledLink {
  background:transparent;
}














@media (max-width: 767px) {
.bb-lg {border-bottom: 1px solid rgba(200,244,255,0.09)}
}

.ohx {overflow-x: hidden}
// widths

.h20p {height: 20px}
.h40p {height: 40px}
.h60p {height: 60px}
.h80p {height: 80px}
.h100p {height: 100px}

// backgrounds

.o0 {opacity: 0.0}
.o1 {opacity: 0.1}
.o2 {opacity: 0.2}
.o3 {opacity: 0.3}
.o4 {opacity: 0.4}
.o5 {opacity: 0.5}
.o6 {opacity: 0.6}
.o7 {opacity: 0.7}
.o8 {opacity: 0.8}
.o9 {opacity: 0.9}

.cl-black{color: black !important}
.cl-blue1{color: #5984ff !important}
.cl-393c3e{color: #393c3e}
.cl-white{color: white}

// font weights

.w2{font-weight: 200}
.w3{font-weight: 300}
.w4{font-weight: 400}
.w5{font-weight: 500}
.w6{font-weight: 600}
.w7{font-weight: 700}

// fonts

a {
  text-decoration: none;
  color: rgba(89,132,255,1);
  font-weight: 500;
  transition: 0.2s all ease-out; 
  &:hover, &:active, &:focus {
    outline: none;
    color: rgba(89,132,255,1);
    transition: 0.2s all ease-in; }
}

nav {
  a {
    color: #435465;
  }
}
video::-webkit-scrollbar {
  display: none;
}
button {
  outline: none;
  border: none;
}

.oh {overflow: hidden;}
.os {overflow: scroll;}

.onhov-exp>* {
  transition: 0.5s ease-out all;
}

.onhov-exp:hover>* {
  transform: scale(1.01);
  transition: 0.24s ease-in all;
}
